body {
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(221, 172, 9), rgb(32, 22, 13));
    min-width: 600px;
}

#header {
    color: black;
    margin-bottom: 10px;
}

#container {
    display: none;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
}

#red {
    background-color: red;
    border-left: solid 8px whitesmoke;
    border-right: solid 8px whitesmoke;
}

#blue {
    background-color: blue;
    border-right: solid 8px whitesmoke;
}

#red, #blue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
    width: 46%;
    height: 300px;
    border-bottom: solid 8px whitesmoke;
    border-top: solid 8px whitesmoke;
}

#handRed, #handBlue {
    position: absolute;
    top: -130;
    font-size: 200;
    width: 46%;
}

#handRed {
    transform: scale(-1,1);
}

button {
    width: 20%;
    height: 50px;
    border: none;
    margin: 0 20px 0 20px;
    background-color: brown;
    color: azure;
    font-weight: bold;
    border: solid white;
    border-radius: 15px;
}

button:active {
    background-color: lightsalmon;
}

button:hover {
    cursor: pointer;
}

#rps {
    position: absolute;
    top: 20%;
    width: 90%;
    height: 200px;
    border-radius: 20px;
    background: rgba(0,0,0,0.8);
}

#footer {
    display: none;
}